.login-container {
    width: 400px;
    height: 400px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-shadow: 0px 0px 35px 10px rgba(163, 163, 163, 1);
    -moz-box-shadow: 0px 0px 35px 10px rgba(163, 163, 163, 1);
    box-shadow: 0px 0px 35px 10px rgba(163, 163, 163, 1);
}

.login-card {
    height: 100%;
    width: 100%;
}

.header-gradient {
    background: linear-gradient(141deg, #5264AE 0%, #1fc8db 51%, #5264AE 75%);
    opacity: 0.95;
    color: white;
}