<div class="container">
  <div class="row mt-3">
    <div class="col-md-4 mt-1" *ngFor="let product of products">
      <mat-card class="product-card">

        <mat-card-header>
          <mat-card-title>
            <img mat-card-image class="product-thumb-img" [src]="product.imageURL">
          </mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <div class="row">
            <div class="col-md-6">
              <h5>{{product.productName}}</h5>
            </div>
            <div class="col-md-6 text-right">
              <h5>Price: {{product.productPrice}}</h5>
            </div>
          </div>
        </mat-card-content>

        <mat-card-footer>
            <div class="text-right add-cart-btn">
                <button mat-mini-fab class="cart-btn mr-2" color="primary" (click)="addToCart(product)">
                  <mat-icon class="md-24">shopping_cart</mat-icon>
                </button>
                <button class="product-btn" mat-mini-fab color="accent" (click)="openProductDetailDialog(product)">
                  <mat-icon class="md-24">remove_red_eye</mat-icon>
                </button>
              </div>
        </mat-card-footer>
      </mat-card>
    </div>
  </div>
</div>
<!-- <div class="container-fluid mt-3">
    <div class="row">
      <div class="col-md-3 mt-2" *ngFor="let product of products">
        <div class="card content-card">
          <div class="card-header product-header d-flex justify-content-center">
            <div class="row">
              <div class="col d-flex justify-content-center">
                <h5>{{product.productName}}</h5>
              </div>
            </div>
          </div>
          <div class="card-body">
            <img class="product-thumb-img" [src]="product.imageURL">
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col text-left">
                <h6>Price : {{product.productPrice}}</h6>
              </div>
              <div class="col text-right add-cart-btn">
                <button mat-mini-fab class="cart-btn mr-2" color="primary" (click)="addToCart(product)">
                  <mat-icon class="md-24">shopping_cart</mat-icon>
                </button>
                <button class="product-btn" mat-mini-fab color="accent" (click)="openProductDetailDialog(product)">
                  <mat-icon class="md-24">dvr</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>-->