<app-ecomm-navbar></app-ecomm-navbar>
<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-md-3 mt-2" *ngFor="let product of products">
      <mat-card class="content-card" (click)="cardClicked()">
        <img mat-card-image class="product-thumb-img" [src]="product.imageURL" alt="Photo of a Shiba Inu">
        <mat-card-content class="text-left">
          <div class="row">
            <div class="col">
              <h4 class="mat-h4">{{product.productName}}</h4>
            </div>
          </div>
          <div class="row">
            <div class="col text-left">
              <p>Price : {{product.productPrice}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>