.main-img-area {
    height: 40vh;
    width: 100%;
}

.img-thumb {
    height: 100%;
    width: 100%;
}

.mat-card-full-width {
    width: 100%;
}

.container-background {
    background-color: #fff;
}

/* .mat-dialog-content {
    max-height: 70vh !important;
} */

.image-area-container .mat-card {
    padding: 10px !important;
}