<h2 mat-dialog-title>{{product.productName}}</h2>
<mat-dialog-content class="mat-typography">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="sticky-top image-area-container">
          <div class="row">
            <div class="col">
              <mat-card>
                <mat-card-content>
                  <img class="main-img-area" [src]="product.imageURL">
                </mat-card-content>
              </mat-card>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col">
              <mat-card>
                <mat-card-content>
                  <img class="img-thumb" [src]="product.imageURL">
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-content>
                  <img class="img-thumb" [src]="product.imageURL">
                </mat-card-content>
              </mat-card>
            </div>
            <div class="col">
              <mat-card>
                <mat-card-content>
                  <img class="img-thumb" [src]="product.imageURL">
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="container container-background">
          <div class="row">
            <mat-card class="mat-card-full-width">
              <mat-card-content class=" ml-3">
                <h3>Price : {{product.productPrice}}</h3>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="row mt-1">
            <mat-card class="mat-card-full-width">
              <mat-card-header>
                <h4>Description</h4>
              </mat-card-header>
              <mat-card-content class="p-3">
                {{product.productLongDesc}}
              </mat-card-content>
            </mat-card>
          </div>
          <div class="row mt-1">
            <mat-card class="mat-card-full-width">
              <mat-card-content>
                <div class="col-md-2">
                  Delivery
                </div>
                <div class="col">
                </div>
              </mat-card-content>
              <mat-card-actions>
                <div class="row mt-1 ml-2">
                  <div class="col-md-2">Size</div>
                  <div class="col-md-2">UK 1</div>
                  <div class="col-md-2">UK 2</div>
                  <div class="col-md-2">UK 3</div>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<div mat-dialog-actions>
  <div class="row full-width-elements">
    <div class="col-md-5">
      <div class="row">
        <div class="col-md-6">
          <button class="full-width-elements md-18" mat-raised-button color="warn">
            <mat-icon class="md-24">add_shopping_cart</mat-icon> Add To Cart
          </button>
        </div>
        <div class="col-md-6">
          <button class="full-width-elements md-18" mat-raised-button color="primary">
            Buy Now
            <mat-icon class="md-24">fast_forward</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>